.wrapper {
  width: 100%;
  background: #00000010;
  box-shadow: inset 0 10px 20px #00000020;
}

.distance {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-size: 1.25rem;
  opacity: 40%;

  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}

.pixelPerfect {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  cursor: grab;
//   border-radius: 1rem;
  z-index: 1;

  background-color: #FFFFFF;

  background-image: linear-gradient(90deg, silver 50%, transparent 50%),
    linear-gradient(90deg, silver 50%, transparent 50%),
    linear-gradient(0deg, silver 50%, transparent 50%),
    linear-gradient(0deg, silver 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: border-dance 0.5s infinite linear;

  @keyframes border-dance {
    0% {
      background-position: left top, right bottom, left bottom, right top;
    }
    100% {
      background-position: left 15px top, right 15px bottom, left bottom 15px,
        right top 15px;
    }
  }
}

.svg {
  position: absolute;
  top: 80px;
  left: 40px;
}
