.bodyParent {
  width: 100%;
  height: 100%;
  padding-right: 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  container-type: inline-size;
}

.cardRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 0px 0px;
  gap: 20px;

  width: 100%;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.card {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.5rem;
  padding-top: 1.5rem;
  gap: 1.25rem;

  width: 100%;
  height: 100%;

  // border: 4px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  /* Inside auto layout */

  flex: 1;
  order: 0;
  flex-grow: 1;
}

.handle {
  display: flex;
  position: absolute;
  width: 0.5rem;
  height: 100%;
  border-radius: 0.25rem;
  top: 0;
  right: -0.5rem;
  align-items: center;
  background-color: #8a8a8a;
  cursor: pointer;
}

.handle:active {
  cursor: pointer;
}

@container (min-width: 60vw) {
  .cardRow {
    height: 50vh;
  }

  .desktop {
    background: #da22ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #9733ee,
      #da22ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #9733ee,
      #da22ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .mobile,
  .tablet {
    background: #00000010;
  }
}

@container (max-width: 60vw) {
  .cardRow {
    flex-direction: column;
    height: 150vh;
  }

  .header {
    font-size: 2.5em;
  }

  .body {
    font-size: 1em;
  }

  .tablet {
    background: #ff512f; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #dd2476,
      #ff512f
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #dd2476,
      #ff512f
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .mobile,
  .desktop {
    background: #00000010;
  }
}

@container (max-width: 40vw) {
  .cardRow {
    flex-direction: column;
    height: 150vh;
  }

  .header {
    font-size: 2em;
  }

  .body {
    font-size: 0.85em;
  }

  .mobile {
    background: #12c2e9;
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9);
  }

  .tablet,
  .desktop {
    background: #00000010;
  }
}
